* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color:  #FB3F5C;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}


.header {
  max-width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 27px; 
  gap: 100px;
}

.nav {
  color: #F8EEEF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.74px;
}
.nav:hover {
  color: #000;
  cursor: pointer;
}

/* footer */

.footer {
  width: 100%;
  background: rgba(251, 63, 92, 0.90);
  min-height: 232px;
  display: flex;
  justify-content: center;
  gap: 34px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.footeritems{
  color: #F8EEEF;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* firtst section */


.hello-text {
  color: #000;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.19px;
}

.first-text {
  color: #191018;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65.1px;
  text-transform: capitalize;
}

.first-text-span {
  color: #191018;
  font-family: Nunito;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65.1px;
  text-transform: capitalize;
  color: #FB3F5C;
}

.myText-first {
  color: #191018;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.74px;
  letter-spacing: 1.44px;
  width: 480px;
  height: 144px;
}

.button{
  color: #F8EEEF;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.28px;
  background-color: #FB3F5C;
  border-radius: 18px;
  padding: 19px 57px;
  text-decoration: none;
  border: 1px solid #FB3F5C;
}

.button:hover {
  background-color: #F8EEEF; 
  color: #FB3F5C;
  cursor: pointer;
}

.section-first {
  display: flex;
  margin-bottom: 230px;
  max-width: 1443px;
  margin: 0 auto; 
  display: flex;
  gap: 500px;
  
}

@media screen and (max-width: 900px) {
  * { 
      flex-wrap: wrap;
     justify-content: center;
     text-align: center;
  
  }    
  
  .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .section-first {
      width: auto;
      height: auto;
      display: flex;
      text-align: center;
  }
  
  
  }